<html>
<body>
<form action="/event/add" method="post">
<table>

	<tr>
		<td>Name</td>
		<td>:</td>
		<td> <input type="text" name="name" value="" ></td>
	</tr>
	<!--<tr>
		<td>CreatedBy</td>
		<td>:</td>
		<td> <input type="text" name="CreatedBy" value="" ></td>
	</tr>!-->
	<!--<tr>
		<td>group_id</td>
		<td>:</td>
		<td> <input type="text" name="group_id" value="" ></td>
	</tr>!-->
    <tr>
		<td>description</td>
		<td>:</td>
		<td> <input type="text" name="description" value="" ></td>
	</tr>
    <tr>
		<td>adresse</td>
		<td>:</td>
		<td> <input type="text" name="adresse" value="" ></td>
	</tr>
    <tr>
		<td>Date</td>
		<td>:</td>
		<td> <input type="text" name="Date" value="" ></td>
	</tr>
	<tr>
		<td>Image</td>
		<td>:</td>
		<td> <input type="text" name="Image" value="" ></td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="btn" value="Add">
			<input type="reset" name="btn" value="Reset">
		</td>
	</tr>
</table>
</form>
</body>


</html>