<html>
<body>
<form action="/group/add" method="post">
<table>

	<tr>
		<td>Name</td>
		<td>:</td>
		<td> <input type="text" name="name" value="" ></td>
	</tr>
	<tr>
		<td>Topic</td>
		<td>:</td>
		<td> <input type="text" name="Topic" value="" ></td>
	</tr>
	<tr>
		<td>Description</td>
		<td>:</td>
		<td> <input type="text" name="description" value="" ></td>
	</tr>
	<tr>
		<td>IsPrivate</td>
		<td>:</td>
		<td> <input type="text" name="IsPrivate" value="" ></td>
	</tr>
	<tr>
		<td>Image</td>
		<td>:</td>
		<td> <input type="text" name="Image" value="" ></td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="btn" value="Add">
			<input type="reset" name="btn" value="Reset">
		</td>
	</tr>
</table>
</form>
</body>


</html>